/Makefile
/Makefile.in
/deprecated
/libglimpse.args
/libglimpse.hierarchy
/libglimpse.interfaces
/libglimpse.prerequisites
/libglimpse.signals
/libglimpse-decl.txt
/libglimpse-decl-list.txt
/libglimpse-unused.txt
/libglimpse-undeclared.txt
/libglimpse-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
