/Makefile
/Makefile.in
/deprecated
/libglimpsewidgets.args
/libglimpsewidgets.hierarchy
/libglimpsewidgets.interfaces
/libglimpsewidgets.prerequisites
/libglimpsewidgets.signals
/libglimpsewidgets-decl.txt
/libglimpsewidgets-decl-list.txt
/libglimpsewidgets-unused.txt
/libglimpsewidgets-undeclared.txt
/libglimpsewidgets-undocumented.txt
/html
/xml
/version
/.libs
/*.bak
/*.stamp
