/Makefile
/Makefile.in
/deprecated
/libglimpsecolor.args
/libglimpsecolor-decl.txt
/libglimpsecolor-decl-list.txt
/libglimpsecolor.hierarchy
/libglimpsecolor.interfaces
/libglimpsecolor.prerequisites
/libglimpsecolor.signals
/libglimpsecolor-unused.txt
/libglimpsecolor-undeclared.txt
/libglimpsecolor-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
