/Makefile
/Makefile.in
/deprecated
/libglimpsethumb.args
/libglimpsethumb.hierarchy
/libglimpsethumb.interfaces
/libglimpsethumb.prerequisites
/libglimpsethumb.signals
/libglimpsethumb-decl.txt
/libglimpsethumb-decl-list.txt
/libglimpsethumb-unused.txt
/libglimpsethumb-undeclared.txt
/libglimpsethumb-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
