/Makefile
/Makefile.in
/deprecated
/libglimpseconfig.args
/libglimpseconfig-decl.txt
/libglimpseconfig-decl-list.txt
/libglimpseconfig.hierarchy
/libglimpseconfig.interfaces
/libglimpseconfig.prerequisites
/libglimpseconfig.signals
/libglimpseconfig-unused.txt
/libglimpseconfig-undeclared.txt
/libglimpseconfig-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
