/Makefile
/Makefile.in
/deprecated
/libglimpsemath.args
/libglimpsemath-decl.txt
/libglimpsemath-decl-list.txt
/libglimpsemath.hierarchy
/libglimpsemath.interfaces
/libglimpsemath.prerequisites
/libglimpsemath.signals
/libglimpsemath-unused.txt
/libglimpsemath-undeclared.txt
/libglimpsemath-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
