/Makefile
/Makefile.in
/deprecated
/libglimpsebase.args
/libglimpsebase-decl.txt
/libglimpsebase-decl-list.txt
/libglimpsebase.hierarchy
/libglimpsebase.interfaces
/libglimpsebase.prerequisites
/libglimpsebase.signals
/libglimpsebase-unused.txt
/libglimpsebase-undeclared.txt
/libglimpsebase-undocumented.txt
/html
/tmpl
/xml
/version
/*.bak
/*.stamp
