/Makefile
/Makefile.in
/deprecated
/libglimpsemodule.args
/libglimpsemodule.hierarchy
/libglimpsemodule.interfaces
/libglimpsemodule.prerequisites
/libglimpsemodule.signals
/libglimpsemodule-decl.txt
/libglimpsemodule-decl-list.txt
/libglimpsemodule-unused.txt
/libglimpsemodule-undeclared.txt
/libglimpsemodule-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
