/Makefile.in
/Makefile
/org.glimpse_editor.Glimpse.appdata.xml.in
/org.glimpse_editor.Glimpse.appdata.xml
/org.glimpse_editor.Glimpse.desktop.in
/org.glimpse_editor.Glimpse.desktop
/glimpse-data-extras.metainfo.xml.in
/glimpse-data-extras.metainfo.xml
/.thumbnails
/test-appdata.sh
